<div class="cart-page">
    <h1>My Cart</h1>
    <div class="row">
        <div class="col-sm-8 details">
            <ul>
                <li>
                    <img src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg">
                </li>
                <li><span>Product Name</span></li>
                <li><span>Price : 1000</span></li>
                <li><span>Quantity : 1000</span></li>
                <li><button class="form-button">Remove to cart</button></li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3>Summary</h3>
            <ul>
                <li> <span>Amount:</span><span>1000</span></li>
                <li> <span>Tax:</span><span>100</span></li>
                <li> <span>Delivery:</span><span>asdasdasd</span></li>
                <li> <span>Discount:</span><span>asdasdasd</span></li>
                <li> <span>
                        <h4>Total</h4>
                    </span> <span>
                        <h4>1000</h4>
                    </span></li>
                <button class="form-button max-width">Checkout</button>
            </ul>
        </div>
    </div>
</div>