<div class="product-list">
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pl of productList">
                <td><img src="{{pl.image}}"></td>
                <td>{{ pl.name}}</td>
                <td>{{ pl.price}}</td>
                <td>{{ pl.color}}</td>
                <td>{{ pl.category}}</td>
                <td>{{ pl.description}}</td>
            </tr>
        </tbody>
    </table>
</div>