<section class="seller-auth">
  <div class="signup">
    <h1>Seller Sign-Up</h1>
    <form class="common-form">
      <input
        type="text"
        class="form-input"
        name="name"
        placeholder="Enter Name"
      />
      <input type="password" class="form-input" placeholder="Enter Password" />
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter Email"
      />
      <button class="form-button">SignUp</button>
    </form>
  </div>
</section>
