<div class="user-auth">
    <div *ngIf="!showLogin" class="user-signup">
        <h1>User Sign-up</h1>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form">
            <input class="form-input" type="text" name="name" ngModel placeholder="Enter Name" />
            <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email" />
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password" />
            <button class="form-button">SignUp</button>
        </form>
        <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </div>
    <div *ngIf="showLogin" class="user-login">
        <h1>User login</h1>
        <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)" class="common-form">
            <p class="error">{{authError}}</p>
            <input class="form-input" type="text" name="email" ngModel email #email="ngModel" required
                placeholder="Enter Email" />
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched ">Please enter valid input</span></p>
            <input class="form-input" type="password" name="password" ngModel minlength="2" maxlength="20"
                #password="ngModel" required placeholder="Enter Password" />
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched ">Please enter valid input</span>
            </p>
            <button [disabled]="userLogin.invalid" class="form-button">Login</button>
        </form>
        <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
    </div>
</div>