<h1>Home Page</h1>
<ngb-carousel *ngIf="popularProducts">
    <ng-template *ngFor="let pps of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/details/{{pps.id}}">
                <img class="product-header-img" src="{{pps.image}}" alt="Random first slide" />
            </a>
        </div>
        <div class="carousel-caption">
            <h3>{{pps.name}}</h3>
            <p>{{pps.description}}</p>
        </div>
    </ng-template>

    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
</ngb-carousel>
<div class="product-list-wrapper">
    <h1>Trendy Product</h1>
    <div class="row" *ngIf="trendyProducts">
        <div class="col-sm-3" *ngFor="let tps of trendyProducts">
            <div class="product-item">
                <img src="{{tps.image}}">
                <div class="product-details">
                    <h6 class="product-head">{{tps.name}}</h6>
                    <div class="product-price">
                        <h6>Price: {{tps.price}}</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: {{tps.color}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/details/{{tps.id}}">View Details</a>
                    <app-cart-bt [productGt]="tps"></app-cart-bt>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-3">
            <div class="product-item">
                <img src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg">
                <div class="product-details">
                    <h6 class="product-head">Mens Casual Slim Fit</h6>
                    <div class="product-price">
                        <h6>Price: 10000</h6>
                    </div>
                    <div class="product-color">
                        <h6>Color: red</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="#">View Details</a>
                    <a href="#">Add to card</a>
                </div>
            </div>
        </div> -->

    </div>
</div>